<div id="addition_wrap">
  <div id="addition">
    {{#each additionalKeys itemController="key"}}
    <div {{ bind-attr class=keyClass }}>
      <div class="keycap">
        <span class="top">{{alt}}</span>
        <span class="bottom">{{primary}}</span>
        {{#if side}}
        <span class="side">{{side}}</span>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
