<h2 id='title'>Crushing it!</h2>
<span>"It's a lifestyle choice."</span>
{{outlet}}

<footer>
  <small>Made by me with help from <a href="https://github.com/rjackson">@rjackson</a> and <a href="http://codepen.io/P233/full/qEagi">Peiwen Lu</a>
  </small>
</footer>
