<div id="totalCrushings">Total Crushed</br>{{totalCrushings}}</div>
<div style="clear:both"></div>

<div id="output">{{output}}</div>
<div id="keyboard">
{{ partial 'mainKeys' }}
{{ partial 'additionalKeys' }}
</div>
