<div id="main">
  {{#each mainKeys itemController="key"}}
  <div {{ bind-attr class="keyClass" }}>
    <div class="keycap">
      {{primary}}</br>{{alt}}
      {{#if side}}
      <span class="side">{{side}}</span>
      {{/if}}
    </div>
  </div>
  {{/each}}
</div>
